body {
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 125px;
    text-align: center;
    padding-top: 45px;
    background-color: skyblue;
    color: #fffc47;
}

main {
    float: right;
    flex-wrap: wrap;

}

aside {
    width: 20%;
    display: flex;
    float: left;
    height: 700px;
    /* background-color: lightgreen; */
}

section {
    display: flex;
    height: 350px;
    /* background-color: lightsalmon; */
}

#cityNameInput {
    padding-right: 75px;
    height: 38px;
    margin-left: -10px;
}

#searchButton {
    height: 38px;
    width: 80px;
    margin-bottom: 25px;
    text-align: center;
}
#clearHistoryButton {
    margin-left: 10px;
    width: 110px;
    text-align: center;

}
button {
    width: 150px;
    margin-top: 5px;
    margin-left: -10px;
    text-align: left;
    background-color: #fffeac;
    text-align: center;
}

#cityNameInput {
    background-color: #fffeac;
}

div.tempHumWind {
    padding-right: 30px;
}